.u-section-1 .u-sheet-1 {
  min-height: 536px;
}

.u-section-1 .u-image-1 {
  width: 570px;
  height: 302px;
  margin: 99px auto 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: -302px 113px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 483px;
  }

  .u-section-1 .u-image-1 {
    width: 470px;
    height: 249px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -249px;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 425px;
  }

  .u-section-1 .u-image-1 {
    width: 360px;
    height: 191px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -191px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 377px;
  }

  .u-section-1 .u-image-1 {
    width: 270px;
    height: 143px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -143px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 324px;
  }

  .u-section-1 .u-image-1 {
    width: 170px;
    height: 90px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -90px;
  }
}