.u-section-1 .u-sheet-1 {
  min-height: 679px;
}

.u-section-1 .u-image-1 {
  width: 570px;
  height: 738px;
  margin: 0 auto;
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 500px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 699px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    width: 340px;
    height: 440px;
  }
}