.u-section-1 .u-sheet-1 {
  min-height: 1580px;
}

.u-section-1 .u-image-1 {
  width: 570px;
  height: 738px;
  margin: 14px -26px 0 auto;
}

.u-section-1 .u-image-2 {
  width: 570px;
  height: 738px;
  margin: -738px auto 0 12px;
}

.u-section-1 .u-image-3 {
  width: 570px;
  height: 738px;
  margin: 0 auto 60px 12px;
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1464px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 699px;
    margin-right: 0;
  }

  .u-section-1 .u-image-2 {
    width: 540px;
    height: 699px;
    margin-left: 0;
  }

  .u-section-1 .u-image-3 {
    width: 540px;
    height: 699px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 687px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 440px;
  }

  .u-section-1 .u-image-2 {
    width: 340px;
    height: 440px;
  }

  .u-section-1 .u-image-3 {
    width: 340px;
    height: 440px;
  }
}